body{
    background: none;
    margin: 0;
    font-family: Lato;
}

.container{
    display: flex;
    position: absolute;
    inset: 0;
}
i{
    padding-top: 12px;
    margin-right: 10px;
    margin-left: 13px;
    
}
h2{
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}
.column1{
    width: 15%;
    height:100%;
    min-width: 190px;
    background-color:#1f2932;
    color: white;
}
.column2{
    width:85%
}
.row1{
    height: 10%;
    max-height: 70px;
    box-shadow: 0px 10px 40px -2px #c5c6c6;
}
.row2{
    height: 89.5%;
}
.h-img{
    width:16%;
    max-width: 25px;
    min-width: 25px;
    margin-top: -20px;
    margin-left: 13px;

}
.con1{
    position: relative;
    top: 29%;
}
.head{
    height: 10%;
    display: flex;
    padding-top: 10px;

}
.container2{
    height:89.5%;

}
.con{
    height:24.9%;
    width: 100%;
    max-height: 100px;
}
h1{
    margin: 0;
    margin-left: 10px;
    margin-top: -10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
    font-family:Lato;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight:500;
    line-height: 20px;
}
p{
    text-align: center;
    width:80%;
    margin: auto;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(112, 112, 112);
}
a{
    color: white;
    background-color: #02B3E4;
    padding: 15px 25px;
    margin: auto;
    text-decoration: none;
    font-weight: 600;
}
